<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sarci</title>

  <!--   CSS Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--   JavaScript Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <!--   CSS Puro -->
  <link rel="stylesheet" href="/SARCI/templates/Apresentação/style.css">

</head>

<body>

  <!-- Menu Lateral -->
  <div class="container">
    <div class="row">
      <div class="menu-lateral col-md-3">
        <a href="#" class="menu-item">Página Inicial</a>
        <a href="#" class="menu-item">Sobre</a>
        <a href="#" class="menu-item">Serviços</a>
        <a href="#" class="menu-item">Contato</a>
      </div>
    </div> 
  </div>
  

  <!-- Conteúdo Principal -->
  <div class="container">
    <div class="row">
      <div class="content col-10">

        <h1 class="bem-vindo">Bem vindo ao site do SARCI! </h1>

        <div class="card-info ">
          <p class="info">O <span class="colored-word">Sistema de automação de relatório do controle</span> interno, que
            disponibiliza a facilidade e praticidade de inserir e criar seu RCIG na nossa plataforma.</p>
           <div class="button">
            <ul>
              <a href="https://menu-de-opcao-do-rcig.rodriguezbromen.repl.co"> <img src="seta-direita 1.png"
                  class="seta"> </a>
            </ul>
           </div>
        </div>
    

          <div class="col-3">
            <div class="card"> 
              <div class="row" type="card-sarci">
               <h2 class="h2">SARCI</h2>
               <h3 class="h3">RCIG</h3>
              </div>
            
          
        <div class="card-imagem" >
          <img src="relatorio-financeiro.png" class="imagem">
        </div>
</div>
</div>
      </div>
    </div>
  </div>



</body>

</html>